@font-face {
    font-family: "Gotham Rounded";
    src: url("../fonts/gotham-rounded/GothamRounded-Medium.otf");
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Gotham Rounded", Gotham Rounded;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url('../img/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.h1, h2, h3, p {
    font-family: "Gotham Rounded", Gotham Rounded;
}

.description {
    font-size: 14px;
    text-align: center;
}

#your-name {
    color: #3983c5;
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 600px;
    border-radius: 10px;
}

.form {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 300px;
}

.btn {
    background-color: #0D1E2D;
    font-family: "Gotham Rounded", Gotham Rounded;
    /* font-size: 30px; */
    height: 70px;
    margin-bottom: 5em;
}


.day {
    margin-left: 5em;
}

.gender {
    margin-left: 5em;
    margin-top: 1em;
    font-family: "Gotham Rounded", Gotham Rounded;
}

.h1 {
    margin-top: 2em;
}

label, input[type="text"] {
    font-family: "Gotham Rounded", Gotham Rounded;
}

input[class="form-control"], select[class="custom-select"], option[value=""] {
    width: 150px;
}


